/* =Header
===================================================== */

// Header
//
// Header of the site (includes site branding and navigation)
//
// Markup: header.html
//
// Style guide: 6.header

.site-header {

  position: relative;

  > * {

    position: relative;
    z-index: $z-index-header;

  }

}