/* =Site branding
===================================================== */

// Site branding
//
// Site logo, title and description.
//
// Markup: branding.html
//
// Style guide: 6.branding


/*
 * Header
 *
 * Container for navigation and branding
 * <header id="masthead" class="site-header" role="banner"> ... </header>
 */

$border-width: 4px;
$line-gap: 6px;
$ruler-height: 2 * $border-width + $line-gap;

$font-size: 40px;

.site-header .site-branding {

  background-color: #fff;

  border: solid $border-width $color-brand-primary;
  border-bottom: 0;

  width: 320px;
  max-width: 100%;
  margin: 0 auto;

  position: relative; // Add position: relative to keep the light beams from leaking out
  overflow: hidden; // Add overflow: hidden to keep light beams from leaking out

  text-align: center;

  @include breakpoint(small) {

    width: 400px;

  }

  .home & {

  }

}

.site-title {

  margin: 0 0 $line-gap;

  border-bottom: solid $border-width $color-brand-primary;

  font-size: $font-size * $site-logo-proportion;
  line-height: $font-size + 2 * $line-gap;
  font-family: $font-headline;
  font-weight: $regular;
  text-transform: uppercase;
  color: $color-brand-primary;

  @include breakpoint(small) {
    font-size: $font-size;
  }

  a {

    display: block;
    color: $color-brand-primary;

    &:hover,
    &:focus,
    &:active {

      color: $color-brand-primary;
      text-decoration: none;

    }

  }

  a:before {

    display: block;
    width: 100%;
    padding-top: 80%;

    border-bottom: solid $border-width $color-brand-primary;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: $site-logo-path;
    background-size: $site-logo-width * $site-logo-proportion $site-logo-height * $site-logo-proportion;

    content: "";

    @include breakpoint(small) {
      background-size: $site-logo-width $site-logo-height;
    }

  }

}

.site-description {

  position: relative;

  margin: #{$ruler-height/-4} 0 #{$ruler-height/4};
  background: 0 #{$ruler-height/-2} / 100% ($font-size + 4 * $line-gap) linear-gradient(to bottom, $color-brand-primary $border-width, transparent $border-width, transparent ($border-width+$line-gap), $color-brand-primary ($border-width+$line-gap),$color-brand-primary $ruler-height,transparent $ruler-height);

  font-size: $font-size * $site-logo-proportion;
  line-height: $font-size + 4 * $line-gap;
  font-family: $font-headline;
  font-weight: $regular;
  color: $color-brand-primary;

  font-variant: small-caps;

  @include breakpoint(small) {
    font-size: $font-size;
  }

}